*
!.gitignore
!webserver.py
!flask_server_szakdolgozat.py
!postpy.py
!scrapy.cfg
!szakdolgozat_project
!szakdolgozat_project/*
!szakdolgozat_project/szakdolgozat
!szakdolgozat_project/szakdolgozat/*
!szakdolgozat_project/szakdolgozat/spiders
!szakdolgozat_project/szakdolgozat/spiders/*
