*
!.gitignore
!webserver1.py
!postpy.py
!tutorial
!tutorial/*
!tutorial/tutorial
!tutorial/tutorial/*
!tutorial/tutorial/spiders
!tutorial/tutorial/spiders/*
!quotes.html
!quotes_files
!quotes_files/*
